@import '../../../styles/settings.scss';

.categoryPostsContainer {
  display: grid;
  box-sizing: border-box;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 20px 0px 40px 0px;
}